.tema1 {
    padding: 45px;
    padding-top: 95px;
}

.tema2 {
    padding: 45px;
}

.descripcion {
    text-align: center;
    color: #101C26;
    font-size: $sz-md;
    font-weight: bold;
    text-transform: uppercase;
    padding-top: 25px;
}