* {
    margin: 0;
    padding: 0;

}

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Quicksand:wght@300&family=Tilt+Neon&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Climate+Crisis&display=swap');


/* font-family: 'Bebas Neue', cursive;
font-family: 'Quicksand', sans-serif;
font-family: 'Tilt Neon', cursive; */

// PALETA DE COLORES // 
$negro: #101C26;
$celeste: #A7F2EB;
$amarillo: #F2EC94;
$naranja:#F2C894;
$crudo: #F2F2F2;

// SIZES TEXTOS //

$sz-sm: 20px;
$sz-md: 30px;
$sz-lg: 55px;


// body{
    // background-image: linear-gradient(to top, #f6f2bb, #fbf0c1, #feefc8, #ffeecf, #ffedd6);

.navbar{
    position: fixed;
    background-color: #F2F2F2;
    border-radius: 16px;
    font-weight: bold;
    
}
    
.LogoNav{
    width: 120px;
    border-radius: 8px;
    border-radius: 25px;
}

.ultimo{
    display: grid;
    place-items: center;
    padding: 85px;
}


.imgUp {
    display: grid;
    place-items: center;
    margin-top: 15px;
    
    
}
.imgUp:hover{
        filter:blur(1px) 
    }

.logoGrande {
    height: 250 px;  

}
.textInicio{
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 45px;
    margin: 50px;
    

    // grid-template-rows: 40% 40%;
}
.What{
    display: grid;
    padding: 25px;
    border:20px;

        h2{
            text-align: center;
            color: #101C26;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            font-size: $sz-lg;
            text-shadow: $crudo 2px 4px ;
        }
        p{
            text-align: center;
            color: #101C26; 
            font-size: $sz-md;
            font-weight: bold;
            text-transform: uppercase;
            
        }  
}
h2:hover{
     
    text-shadow: #A7F2EB 2px 1px ;
}

.How{
    display: grid;
    padding: 25px;
    border:20px;
    h2{
        text-align: center;
        color: #101C26;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: $sz-lg;
        text-shadow: $crudo 2px 4px ;
    }
    p{
        text-align: center;
        color: #101C26; 
        font-size: $sz-md;
        font-weight: bold; 
        text-transform: uppercase;
        
    }  
}
h2:hover{
    text-shadow: #A7F2EB 2px 1px ;
}
      
    
.Adv{
    display: grid;
    place-items: center;
    padding: 35px;
    border:20px;

    
    h2{
        text-align: center;
        color: #101C26;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: $sz-lg;
        text-shadow: $crudo 2px 4px ;
    }  
    
        ol{
        color: #101C26; 
        font-size: $sz-md;
        font-weight: bold; 
        text-transform: uppercase;
        
        }
            li{
                text-decoration: none;
            }
}
h2:hover{
    text-shadow: #A7F2EB 2px 1px ;
}

.foot{
    background-color: #101C26;
    height: 120px;
    .Instagram{
        width: 70px;
        padding: 10px;
        padding-top: 20px;
    }
    p{
        color: #F2F2F2;
        display: grid;
        place-items: center;
        text-transform: uppercase;
        font-weight: bolder;
    }

    
}

a{
    display: flex;    
    justify-content: end;
    
}

// ABOUT CODE //

.videoYT{
    display: grid;
    place-items:center;
    padding-top: 95px;
    padding-bottom: 95px;
}

h2{
    text-align: center;
            color: #101C26;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            font-size: $sz-lg;
            text-shadow: $crudo 2px 4px ;
            padding-bottom: 45px;
}

.textAbout{
    text-align: center;
        color: #101C26; 
        font-size: $sz-md;
        font-weight:unset; 
        text-transform: uppercase;
        padding: 65px;
}

// BEST JOBS CODE //

.tema1 {
    padding: 45px;
    padding-top: 95px;
                
}

.tema2 {
    padding: 45px;
}
    
.descripcion{
    text-align: center;
        color: #101C26; 
        font-size: $sz-md;
        font-weight: bold; 
        text-transform: uppercase;
        padding-top: 25px;
}