@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Quicksand:wght@300&family=Tilt+Neon&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Climate+Crisis&display=swap");

* {
  margin: 0;
  padding: 0;
}

.navbar {
  
  top: 0;
  left: 0;
  background-color: #101C26;
  border-radius: 16px;
  border: 15px solid #A7F2EB;
  font-weight: bold;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.navbar .menu {
  display: flex;
  gap: 15px;
  align-items: center;
}

.navbar .menu-item {
  text-decoration: none;
  color: #A7F2EB;
  font-size: 18px;
}

/* Estilos para pantallas medianas (tablets) */
@media screen and (max-width: 768px) {
  .navbar .menu-item {
    font-size: 16px;
  }
}

/* Estilos para pantallas pequeñas (teléfonos móviles) */
@media screen and (max-width: 480px) {
  .navbar {
    flex-direction: column;
    align-items: center;
  }
  
  .navbar .menu {
    gap: 10px;
  }

  .navbar .menu-item {
    font-size: 14px;
  }
}



.LogoNav {
  width: 120px;
  border-radius: 25px;
}

.ultimo {
  display: grid;
  place-items: center;
  padding: 85px;
}

.imgUp {
  display: grid;
  place-items: center;
  margin-top: 15px;
}

.imgUp:hover {
  filter: blur(1px);
}

.logoGrande {
  height: 250px;
}

.textInicio {
  display: grid;
  grid-template-columns: 50% 50%;
  padding: 45px;
  margin: 50px;
}

.What {
  display: grid;
  padding: 25px;
  border: 20px;
}
.What h2 {
  text-align: center;
  color: #101C26;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 55px;
  text-shadow: #F2F2F2 2px 4px;
}
.responsive-text {
  font-size: 18px;
  line-height: 1.6;
  max-width: 800px;
  margin: auto;
}

.responsive-text h3 {
  font-size: 24px;
  margin-bottom: 10px;
}

@media screen and (max-width: 768px) {
  .responsive-text {
    font-size:35px;
    text-transform: uppercase;
  }
  .responsive-text h3 {
    font-size: 35px;  
    text-transform: uppercase;

  }
}

@media screen and (max-width: 480px) {
  .responsive-text {
    font-size: 14px;
  }
  .responsive-text h3 {
    font-size: 20px;
  }
}

.How h2 {
  text-align: center;
  color: #101C26;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 55px;
  text-shadow: #F2F2F2 2px 4px;
}
.How p {
  text-align: center;
  color: #101C26;
  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase;
}


.Adv {
  display: grid;
  place-items: start;
  padding: 45px;
  margin: 50px;
}
.Adv h2 {
  text-align: center;
  color: #101C26;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 20px;
  text-shadow: #F2F2F2 2px 4px;

}
.Adv ol {
  color: #101C26;
  font-size: 20px;
  text-transform: uppercase;
  padding: 20px;
}
.Adv li {
  text-decoration: none;
}
/* Estilos para pantallas medianas (tablets) */
@media screen and (max-width: 768px) {
  h2 {
    font-size: 40px;
  }
  .Adv ol {
    font-size: 30px;
  }
}

/* Estilos para pantallas pequeñas (teléfonos móviles) */
@media screen and (max-width: 480px) {
  h2 {
    font-size: 30px;
  }
  .Adv ol {
    font-size: 30px;
  }
}


h2:hover {
  text-shadow: #A7F2EB 2px 1px;
}

.carrousel-item {
  padding: 50px;
  margin: 150px;
  align-items: center;
}

.foot {
  background-color: #101C26;
  height:
  120px;
}
.foot .Instagram {
  width: 70px;
  padding: 10px;
  padding-top: 20px;
}
.foot p {
  color: #F2F2F2;
  display: grid;
  place-items: center;
  text-transform: uppercase;
  font-weight: bolder;
}

a {
  display: flex;
  justify-content: end;
}

.videoYT {
  display: grid;
  place-items: center;
  padding-top: 95px;
  padding-bottom: 95px;
}

h2 {
  text-align: center;
  color: #101C26;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 55px;
  text-shadow: #F2F2F2 2px 4px;
  padding-bottom: 45px;
}

.textAbout {
  text-align: center;
  color: #101C26;
  font-size: 30px;
  font-weight: unset;
  text-transform: uppercase;
  padding: 65px;
}

.tema1 {
  padding: 45px;
  padding-top: 95px;
}

.tema2 {
  padding: 45px;
}

.descripcion {
  text-align: center;
  color: #101C26;
  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase;
  padding-top: 25px;
}

.formulario {
  padding-top: 150px;
  padding-bottom: 150px;
  margin-bottom: 50px;
  text-transform: uppercase;
  display: grid;
  place-items: center;
}
.formulario legend {
  text-align: center;
  font-weight: bold;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 55px;
}
.formulario label {
  text-align: left;
  font-weight: 700;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 30px;
}
.formulario input {
  border-radius: 10px;
  border-color: #F2C894;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: normal;
  padding: 5px;
}
.formulario button {
  border-radius: 3px;
  border-color: #F2C894;
  width: 90px;
  color: #101C26;
  background-color: #F2EC94;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-transform: uppercase;
  font-weight: bold;
}

.pregunta {
  text-align: left;
  color: #101C26;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 55px;
  text-shadow: #F2F2F2 2px 4px;
  padding-bottom: 2px;
  text-transform: uppercase;
  padding-top: 95px;
  padding-left: 45px;
  font-size: 30px;
}

.rta {
  text-align: left;
  color: #101C26;
  font-size: 20px;
  font-weight: lighter;
  text-transform: uppercase;
  padding-left: 25px;
}
/* Estilos para pantallas medianas (tablets) */
@media screen and (max-width: 768px) {
  h2 {
    font-size: 40px;
  }
}

/* Estilos para pantallas pequeñas (teléfonos móviles) */
@media screen and (max-width: 480px) {
  h2 {
    font-size: 30px;
  }
}
