* {
    margin: 0;
    padding: 0;

}

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Quicksand:wght@300&family=Tilt+Neon&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Climate+Crisis&display=swap');


/* font-family: 'Bebas Neue', cursive;
font-family: 'Quicksand', sans-serif;
font-family: 'Tilt Neon', cursive; */

